body{
  background: #333333;
  color: #ffffff;
}
.navbar{
  border-bottom: 3px solid #008ed6;
  background: #292b2c;
  opacity: 0.7;
}
#home-section{
  background: url(img/desk.jpeg) no-repeat center top;
  background-attachment: fixed;
  min-height: 900px;
  background-size: cover;
}
.dark-overlay{
  background: rgba(0,0,0,0.7);
  min-height: 900px;
}
.fa,{
  background: #ffffff;
  color: #008ed6;
  font-size: 30px;
  border-radius: 5px;
  padding: 4px;
}
.card-form{
  opacity: 0.82;
}
.home-inner{
  padding-top: 150px;
}

section{
  margin: 80px 0;
}

#explore-main-section .fa{
  color: #ffffff;
  background: #333333;
  font-size: 30px;
  border-radius: 5px;
  padding: 4px;
}




@media(max-width: 768px){
  #home-section h1{
    font-size: 36px;
  }
}